#route-input {
    position:fixed; 
    top: 90px; 
    left: 10px; 
    z-index: 999;
}

#display-directions {
    position:fixed; 
    bottom: 20px; 
    right: 10px; 
    z-index: 999;
    background-color: white;
    max-width: 33vw;
}

nav {height: 10vh;}

aside {
    background-color: #aaaaaa;
    height: 90vh;
}

main {
    height: 90vh;
}

#input-overlay {
    position: absolute;
    top: calc(10vh + 32px);
    left: 70px;
    z-index: 999;
}

.leaflet-control-zoom {
    position: fixed;
    bottom: 32px;
    right: 24px;
}

.leaflet-control-layers-overlays > label {padding: 5px 0;}

.layer-key > img {margin: 0 5px;}

#start-building, #end-building {
    width: 200px;
}

#start-floor, #end-floor {
    width: 115px;
}