#route-input {
    position:fixed; 
    top: 90px; 
    left: 10px; 
    z-index: 999;
}

#display-directions {
    position:fixed; 
    bottom: 20px; 
    right: 10px; 
    z-index: 999;
    background-color: white;
    max-width: 33vw;
}

nav {height: 10vh;}

aside {
    height: 90vh;
}

#sidebar {
    height: 90vh;
    width: 25vw;
    background-color: white;
    position: fixed;
    top: 10vh;
    left: 0;
    overflow-y: scroll;
}

#route-input {
    background-color: #00205B;
    width: 25vw;
    position: fixed;
    top: 10vh;
    left: 0;
    height: 150px;
}

#route-input > * {
    width: 80%;
    margin: 20px auto;
    padding: 0;
}

#access-features h2 {font-weight: 700;}

#access-features h3 {font-weight: 500;}

#access-features {
    margin-top: calc(110px + 10vh);
    padding-left: 20px;
}

#find-route {
    width: 15vw;
    position: fixed;
    bottom: 25px;
    margin: 0 5vw;
    background-color: #FFC70A;
    color: #363636;
}

main {
    height: 90vh;
}

#input-overlay {
    position: absolute;
    top: calc(10vh + 32px);
    left: 70px;
    z-index: 999;
}

.leaflet-control-zoom {
    position: fixed;
    bottom: 32px;
    right: 24px;
}

.leaflet-control-layers-overlays > label {padding: 5px 0;}

.layer-key > img {margin: 0 5px;}

#start-building-overlay, #end-building-overlay {
    width: 250px;
}
#start-floor-overlay, #end-floor-overlay {
    width: 100px;
}

#start-building, #end-building {
    width: 60%;
}